@font-face
{
    font-family: allerLight;
    src: url(../fonts/aller_light.ttf);
}

@font-face
{
    font-family: allerReg;
    src: url(../fonts/aller_rg.ttf);
}

@font-face
{
    font-family: allerBold;
    src: url(../fonts/aller_bd.ttf);
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'allerLight';
}

body
{
    /*background-color: #fff;
    background-position:center;
    background-size: 100% 100%;*/
    background: url(../images/dock.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.variable {
    font-style: normal;
}

.transparentWhite {
    background-color: rgba(225, 225, 225, 0.9);
}

.divProfileCenter{
    text-align: center;
    margin: auto;
    padding: 0;
    width: 720px;
    height: inherit;
    font-family: 'Droid Serif', serif;
}

.divProfilePic {
    float: left;
    margin:;
    width: 100px;
    height: 100px;
    padding: 12.5px;
}

.divProfileHeader {
    background-color: rgba(225, 225, 225, 0.9);
    text-align: left;
    margin-right: 0;
    margin-left: auto;
    padding: 10px;
    width: 550px;
    height: inherit;
}

.divHeader {
    margin: auto;
    padding: 0;
    width: 720px;
    height: inherit;
}

.divShadow {
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
       -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
            box-shadow: 0 2px 2px rgba(0,0,0,0.5);
}

.leftAlign {
    text-align: left;
}

.rightAlign {
    text-align: right;
}

.centerAlign {
    text-align: center;
}

.box {
    position: relative;
}

.nameFont {
    font-size: 40px;
    font-weight: 700;
}

.titleFont {
    font-weight: 700;
}